body {
    color : black;
    background-color : rgb(243, 238, 232);
    width: 1024px;
    margin: 80px auto;
    font-family: 'Times New Roman', 'Noto Serif KR', serif;
    display: flex;
    align-items: center;
}
a {
    color:black;
    text-decoration: none;
    margin: 1%;
}
.body-shadow {
    box-shadow: 2px 2px 10px 1px rgba(128, 128, 128, 0.425);
}
#grid{
    color : black;
    background-color : rgb(255, 255, 255);
    width: 1024px;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    display: grid;
    text-align: center;
}
#grid-upperLine {
    width: 1024px;
    height: 5px;
    background-color : rgb(000,000,000);
}
